* {
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
}

.flex-container {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.grid-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2vw;
  margin: 2vw;
}

.grid-item {
  padding: 1vw;
  font-size: 1.5em;
}

#evacuation {
  grid-column-start: 1;
  grid-column-end: 4;
}

.flex-header {
  justify-content: space-between;
}

header {
  background-color: black;
  padding: 2vw;
  margin-bottom: 5vw;
}

.logo {
  width: 25%;
  height: auto;
}

.menu-icon {
  width: 50px;
  height: 50px;
}

.menu-icon_line {
  stroke: white;
  stroke-width: 3;
}

.title {
  text-align: center;
  letter-spacing: 5px;
}

.title-container {
  margin-bottom: 10vw;
}

.procedures-title {
  margin-left: 2vw;
}

.procedures-container {
  margin-bottom: 2vh;
}

.procedures-container hr {
  margin: 0 2vw;
}

.emerg-btn {
  background-color: #da3849;
  color: white;
  box-shadow: 2px 2px 2px black;
  letter-spacing: 1px;
  border-radius: 10px;
}

.active-emerg-btn {
  background-color: lightgray;
  color: #da3849;
}

.procedures-info-container {
  width: 96vw;
  margin-bottom: 2vw;
  margin-top: 2vh;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 2vw 2vw 10vh 2vw;
}

.procedure-info_title {
  font-size: 1.5rem;
}

.flex-procedures-info {
  justify-content: center;
}

.text-btn {
  box-shadow: 2px 2px 2px 2px lightgray;
}

.flex-text {
  justify-content: space-between;
}

footer {
  position: fixed;
  bottom: 0vh;
  width: 100%;
  background-color: black;
  opacity: 0.9;
  padding: 2vw;
}

.call911 {
  width: 80%;
  letter-spacing: 1px;
}

.call-icon-container {
  margin: 0 5vw;
}

.emerg-call-icon {
  width: 50px;
}

.flex-footer {
  justify-content: space-between;
}

.hideInfo {
  display: none;
}

/* The side navigation menu */
h5 {
  color: #da3849;
  font-size: 5vw;
  padding: 2vw 5vw 0vw 5vw;
}

.sidenav {
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: -10px;
  background-color: black;
  opacity: 0.9;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 30px;
  /* Place content 30px from the top */
  padding-bottom: 30px;
  transition: 0.2s;
  /* 0.2 second transition effect to slide in the sidenav */
  font-size: 5vw;
  box-shadow: -2px -2px 8px 2px darkgray;
}

/* The navigation menu links */
.sidenav a {
  padding: 2vw 5vw 2vw 5vw;
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #da3849;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 9vw;
  text-decoration: none;
}

.flex-plan-btn {
  justify-content: center;
  padding-top: 3vh;
}

.flex-plan-btn button {
  width: 80%;
}

/* The side navigation menu */
.addInfo {
  width: 0;
  /* 0 width - change this with JavaScript */
  height: 90vh;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: -10px;
  background-color: black;
  opacity: 0.9;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  overflow-y: auto;
  padding-top: 30px;
  /* Place content 30px from the top */
  padding-bottom: 30px;
  transition: 0.2s;
  /* 0.2 second transition effect to slide in the sidenav */
  font-size: 5vw;
  box-shadow: -2px -2px 8px 2px darkgray;
}

.addInfo-btn {
  box-shadow: 2px 2px 2px 2px lightgray;
}

.addInfo span {
  text-decoration: none;
  color: white;
}

.addInfo p {
  color: white;
  padding: 2vw 5vw 2vw 5vw;
  font-size: 1rem;
}

.addInfo ul {
  color: white;
  padding: 2vw 5vw 2vw 15vw;
  font-size: 1rem;
}

.addInfo .announcement {
  color: white;
  padding: 0vw 5vw 2vw 10vw;
  font-size: 0.8rem;
  margin-top: 0;
}

h6 {
  color: yellow;
  padding: 2vw 5vw 0vw 10vw;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .whtNav {
  color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #da3849;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 9vw;
}

.flex-plan-btn {
  justify-content: center;
  padding-top: 3vh;
}

.flex-plan-btn button {
  width: 80%;
}

/*# sourceMappingURL=main.css.map */
