<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networking - Binary</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <div class="titleContainer">
            <div>
                <h1>Networking Exercise</h1>
                <h3>Binary</h3>
            </div>
            
            <div id="hamIconDiv">
                <img id="hamIcon" src="../images/hamIconWht.png" alt="hamburger icon">
            </div>
        </div>
        
    </header>

    <main>
        <div id="Sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn"><span id="x_symbol">&times;</span></a>
            <h5>Navigation</h5>
            <a id="completeLesson" href="#">Complete Lesson</a>
            <a class="nav" id="whatsBinWhyCare" href="#">What is Binary, Why do I Care?</a>
            <a class="nav" id="whatsBit" href="#">What's a Bit?</a>
            <a class="nav" id="whatsByte" href="#">What's a Byte</a>
            <a class="nav" id="whatsBinary" href="#">What's Binary</a>
            <a class="nav" id="binaryOnsOffs" href="#">Binary On's and Off's</a>
            <a class="nav" id="bitsDecNumbers" href="#">Bits and Decimal Numbers</a>
            <a class="nav" id="convBinDec" href="#">Converting Binary to Decimal</a>
            <a class="nav" id="practiceConvBinDec" href="#">PRACTICE: Convert Binary to Decimal</a>
            <a class="nav" id="convDecBin" href="#">Converting Decimal to Binary</a>
            <a class="nav" id="convDecBinRemainer" href="#">Converting Decimal to Binary (Remainder)</a>
            <a class="nav" id="BinIpAddresses" href="#">Binary and IP Addresses</a>
            <a class="nav" id="BinDevAddresses" href="#">Binary and Device Addresses</a>
            <a class="nav" id="setDipSwitches" href="#">Setting Dip Switches</a>
            <a class="nav" id="binAssess" href="#">Binary Assessment</a>
        </div>
        
        
        <section id="letsGo">
            <h2>Let's Go</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/1_LetsGo.png" alt="Let's Go">
            </div>
        </section>
        
        <section id="section_instructions">
            <h2 id="test">Instructions</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/2_Instructions.png" alt="Instructions">
            </div>
        </section>
        
        <section id="section_whatsBinWhyCare">
            <h2>What is Binary, Why do I Care?</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/3_CompStupid.png" alt="Computers are stupid">
                
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/3_CompStupid2.png" alt="Computers are stupid 2">
            </div>
        </section>
        
        <section id="section_whatsBit">
            <h2>What's A Bit?</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/4_WhatsBit.png" alt="What's a bit?">
            </div>
            <div class="slideWinfo">
                <div class="imgDiv">
                    <img class="page" src="../images/binary/4_WhatsBit2.png" alt="What's a bit? 2">
                </div>
                <div class="infoDiv">
                    <div class="headerContainer">
                        <h4 class="whatsBitInfo_header">Textbook Reference</h4>
                        <p class="displayInfo">Chapter 6 - The Bits of an IP Address (page 117)</p>
                        <h4 class="whatsBitInfo_header">Answer</h4>
                        <p class="displayInfo">4</p>
                        <h4 class="whatsBitInfo_header">Student Actions</h4>
                        <p class="displayInfo">Enter answer as a number and click submit</p>
                    </div>
                    <div class="infoResult" id="whatsBitInfo_result"></div>
                </div>
            </div>
            
            <div class="imgDiv">
                <img class="page" src="../images/binary/4_WhatsBit3.png" alt="What's a bit? 3">
            </div>
        </section>

        <section id="section_whatsByte">
            <h2>What's A Byte?</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/5_WhatsByte.png" alt="What's a byte?">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/5_WhatsByte2.png" alt="What's a byte? 2">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="whatsByteInfo_header">Textbook Reference</h4>
                    <p class="displayInfo">Chapter 6 - The Bits of an IP Address (page 117)</p>
                    <h4 class="whatsByteInfo_header">Answer</h4>
                    <p class="displayInfo">3</p>
                    <h4 class="whatsByteInfo_header">Student Actions</h4>
                    <p class="displayInfo">Enter answer a number and click submit</p>
                </div>
                <div class="infoResult" id="whatsByteInfo_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/5_WhatsByte3.png" alt="What's a byte? 3">
            </div>
        </section>

        <section id="section_whatsBinary">
            <h2>What's Binary?</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/6_WhatsBinary.png" alt="What's binary?">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/6_WhatsBinary2.png" alt="What's binary? 2">
            </div>
        </section>
        
        <section id="section_binaryOnsOffs">
            <h2>Binary On's and Off's</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/7_BinaryOffOn.png" alt="What's binary?">
            </div>
        </section>

        <section id="section_bitsDecNumbers">
            <h2>Bits and Decimal Numbers</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/8_BitsDecimalNumbers.png" alt="Bits and Decimal Numbers">
            </div>
        </section>

        <section id="section_convBinDec">
            <h2>Converting Binary to Decimal</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/9_ConvertBinDec.png" alt="Converting Binary to Decimal">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/9_ConvertBinDec2.png" alt="Converting Binary to Decimal 2">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="convertBinDecInfo_header">Student Actions</h4>
                    <p class="displayInfo">Student should click on the <q>1</q> bits that are indicated as <q>ON</q></p>
                </div>
                <div class="infoResult" id="convertBinDecInfo_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/9_ConvertBinDec3.png" alt="Converting Binary to Decimal 3">
            </div>
        </section>

        <section id="section_practiceConvBinDec">
            <h2>PRACTICE: Convert Binary to Decimal</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/10_Practice-ConvBinDec.png" alt="PRACTICE: Convert binary to decimal">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="practiceConvBinDec_header">Textbook Reference</h4>
                    <p class="displayInfo">Chapter 6 - The Bits of an IP Address (page 118, Figure 6-9)</p>
                    <h4 class="practiceConvBinDec_header">Answer</h4>
                    <p class="displayInfo">168</p>
                    <h4 class="practiceConvBinDec_header">Student Actions</h4>
                    <p class="displayInfo">Enter answer as a number and click submit</p>
                </div>
                <div class="infoResult" id="practiceConvBinDecInfo_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/10_Practice-ConvBinDec2.png" alt="PRACTICE: Convert binary to decimal 2">
            </div>
        </section>

        <section id="section_convDecBin">
            <h2>Converting Decimal to Binary</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/11_ConvDecBin.png" alt="Converting decimal to binary">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/11_ConvertDecBin2.png" alt="Converting decimal to binary 2">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="convertDecBin_header">Student Actions</h4>
                    <p class="displayInfo">Student should click on the <q>0</q> bit with value of 64 to change it to a <q>1</q></p>
                </div>
                <div class="infoResult" id="convertDecBinInfo_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/11_ConvertDecBin3.png" alt="Converting decimal to binary 3">
            </div>
        </section>

        <section id="section_convDecBinRemainer">
            <h2>Converting Decimal to Binary (Remainder)</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/12_ConvDecBin-Remainder.png" alt="">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/12_ConvDecBin-Remainder2.png" alt="">
            </div>
            <!-- Step 1 -->
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="convertDecBinRemainder_header">Student Actions</h4>
                    <p class="displayInfo">Student should click on the <q>0</q> bit with value of 64 to change it to a <q>1</q></p>
                </div>
                <div class="infoResult" id="convertDecBinRemainderInfo1_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/12_ConvDecBin-Remainder3.png" alt="">
            </div>
            <!-- Step 2 -->
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="convertDecBinRemainder_header">Student Actions</h4>
                    <p class="displayInfo">Student should click on the <q>0</q> bit with value of 32 to change it to a <q>1</q></p>
                </div>
                <div class="infoResult" id="convertDecBinRemainderInfo2_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/12_ConvDecBin-Remainder4.png" alt="">
            </div>
            <!-- Step 3 -->
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="convertDecBinRemainder_header">Student Actions</h4>
                    <p class="displayInfo">Student should click on the <q>0</q> bit with value of 16 to change it to a <q>1</q></p>
                </div>
                <div class="infoResult" id="convertDecBinRemainderInfo3_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/12_ConvDecBin-Remainder5.png" alt="">
            </div>
            <!-- Step 4 -->
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="convertDecBinRemainder_header">Student Actions</h4>
                    <p class="displayInfo">Student should click on the <q>0</q> bit with value of 4 to change it to a <q>1</q></p>
                </div>
                <div class="infoResult" id="convertDecBinRemainderInfo4_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/12_ConvDecBin-Remainder6.png" alt="">
            </div>
            <!-- Step 5 -->
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="convertDecBinRemainder_header">Student Actions</h4>
                    <p class="displayInfo">Student should click on the <q>0</q> bit with value of 1 to change it to a <q>1</q></p>
                </div>
                <div class="infoResult" id="convertDecBinRemainderInfo5_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/12_ConvDecBin-Remainder7.png" alt="">
            </div>
        </section>

        <section id="section_BinIpAddresses">
            <h2>Binary and IP Addresses</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/13_BinIPaddress.png" alt="">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/13_BinIPaddress2.png" alt="">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="binIpAddress_header">Textbook Reference</h4>
                    <p class="displayInfo">Chapter 6 - The Bytes of an IP Address (page 118-119)</p>
                </div>
                <div class="infoResult" id="binIpAddress_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/13_BinIPaddress3.png" alt="">
            </div>
        </section>

        <section id="section_BinDevAddresses">
            <h2>Binary and Device Addresses</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/14_BinDevAddress.png" alt="">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/14_BinDevAddress2.png" alt="">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/14_BinDevAddress3.png" alt="">
            </div>
        </section>

        <section id="section_setDipSwitches">
            <h2>Setting Dip Switches</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/15_SetDipSwitch.png" alt="">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/15_SetDipSwitch2.png" alt="">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="setDipSwitch_header">Answer</h4>
                    <p class="displayInfo">Dip switch 2 and 3 set to <q>ON</q></p>
                </div>
                <div class="infoResult" id="setDipSwitchInfo_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/15_SetDipSwitch3.png" alt="">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/15_SetDipSwitch4.png" alt="">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/binary/15_SetDipSwitch5.png" alt="">
            </div>
        </section>

        <section>
            <h2>You've Done Great!</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/16_DoneGreat.png" alt="">
            </div>
        </section>

        <section id="section_binAssess">
            <h2>Binary Assessment</h2>
            <!-- Question 1 -->
            <div class="imgDiv">
                <img class="page" src="../images/binary/17_q1.png" alt="">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="binaryAssessment_header">Answer</h4>
                    <p class="displayInfo">Bit</p>
                </div>
                <div class="infoResult" id="binaryAssessmentQ1Info_result"></div>
            </div>
            <!-- Question 2 -->
            <div class="imgDiv">
                <img class="page" src="../images/binary/18_q2.png" alt="">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="binaryAssessment_header">Answer</h4>
                    <p class="displayInfo">8</p>
                </div>
                <div class="infoResult" id="binaryAssessmentQ2Info_result"></div>
            </div>
            <!-- Question 3 -->
            <div class="imgDiv">
                <img class="page" src="../images/binary/19_q3.png" alt="">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="binaryAssessment_header">Answer</h4>
                    <p class="displayInfo">10101010</p>
                </div>
                <div class="infoResult" id="binaryAssessmentQ3Info_result"></div>
            </div>
            <!-- Question 4 -->
            <div class="imgDiv">
                <img class="page" src="../images/binary/20_q4.png" alt="">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="binaryAssessment_header">Answer</h4>
                    <p class="displayInfo">Set addresses on components and devices</p>
                </div>
                <div class="infoResult" id="binaryAssessmentQ4Info_result"></div>
            </div>
        </section>

        <section>
            <h2>Last Test Page</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/21_ShowResult.png" alt="">
            </div>
        </section>

        <section>
            <h2>Result</h2>
            <div class="imgDiv">
                <img class="page" src="../images/binary/22_YouPassed.png" alt="">
            </div>
        </section>
    </main>
    
    
    <footer>
        
    </footer>

    <script type="module" src="../js/binary.js"></script>
</body>
</html>