<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networking - Command Prompt</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body> 
    <header>
        <div class="titleContainer">
            <div>
                <h1>Networking Exercise</h1>
                <h3>Command Prompt</h3>
            </div>
            
            <div id="hamIconDiv">
                <img id="hamIcon" src="../images/hamIconWht.png" alt="hamburger icon">
            </div>
        </div>
        
    </header>

    <main>
        <div id="Sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn"><span id="x_symbol">&times;</span></a>
            <h5>Navigation</h5>
            <a id="completeLesson" href="#">Complete Lesson</a>
            <a class="nav" id="accessRunDialog" href="#">Access Run Dialog</a>
            <a class="nav" id="runDialogBox" href="#">Run Dialog Box</a>
            <a class="nav" id="displayCmds" href="#">Display Commands</a>
            <a class="nav" id="singlePage" href="#">Single Page at a Time</a>
            <a class="nav" id="cmdHelp" href="#">Command Help</a>
            <a class="nav" id="switches" href="#">ipconfig Switches</a>
        </div>
        
        <section id="letsGo">
            <h2>Let's Go</h2>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/1_letsGo.png" alt="Let's Go">
            </div>
        </section>
        
        <section id="section_instructions">
            <h2>Instructions</h2>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/2_instructions.png" alt="Instructions">
            </div>
        </section>

        <!-- Access Run Dialog -->
        <section id="section_accessRunDialog">
            <h2>Access Run Dialog</h2>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/3_accessRunDialog.png" alt="Access Run Dialog">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/4_accessRunDialog2.png" alt="Access Run Dialog">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/5_accessRunDialog3.png" alt="Access Run Dialog">
            </div> 
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="accessRunDialogInfo_header">Textbook Reference</h4>
                    <p class="displayInfo">Chapter 14 - The Command Prompt (page 264)</p>
                </div>
                <div class="infoResult" id="accessRunDialogInfo_result"></div>
            </div>
        </section>

        <!-- Run Dialog Box -->
        <section id="section_runDialogBox">
            <h2>Run Dialog Box</h2>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/6_runDialogBox.png" alt="Run Dialog Box">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="runDialogBoxInfo_header">Textbook Reference</h4>
                    <p class="displayInfo">Chapter 14 - The Command Prompt (page 264)</p>
                    <h4 class="runDialogBoxInfo_header">Answer</h4>
                    <p class="displayInfo">cmd</p>
                </div>
                <div class="infoResult" id="runDialogBoxInfo_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/7_runDialogBox2.png" alt="Run Dialog Box">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/8_runDialogBox3.png" alt="Run Dialog Box">
            </div>
        </section>

        <!-- Display Commands -->
        <section id="section_displayCmds">
            <h2>Display Commands</h2>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/9_displayCommands.png" alt="Display Commands">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="displayCmdsInfo_header">Textbook Reference</h4>
                    <p class="displayInfo">Chapter 14 - The Command Prompt (page 264)</p>
                    <h4 class="displayCmdsInfo_header">Answer</h4>
                    <p class="displayInfo">help</p>
                </div>
                <div class="infoResult" id="displayCmdsInfo_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/10_displayCommands2.png" alt="Display Commands">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/11_displayCommands3.png" alt="Display Commands">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/12_displayCommands4.png" alt="Display Commands">
            </div>
        </section>

        <!-- Single Page -->
        <section id="section_singlePage">
            <h2>Single Page at a Time</h2>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/13_singlePage.png" alt="Single Page">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="singlePageInfo_header">Textbook Reference</h4>
                    <p class="displayInfo">Chapter 14 - The Command Prompt (page 264)</p>
                    <h4 class="singlePageInfo_header">Answer</h4>
                    <p class="displayInfo">help | more</p>
                </div>
                <div class="infoResult" id="singlePageInfo_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/14_singlePage2.png" alt="Single Page">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/15_singlePage3.png" alt="Single Page">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/16_singlePage4.png" alt="Single Page">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/17_singlePage5.png" alt="Single Page">
            </div>
        </section>
        
        <!-- Command Help -->
        <section id="section_cmdHelp">
            <h2>Command Help</h2>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/18_commandHelp.png" alt="Command Help">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/19_commandHelp.png" alt="Command Help">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="cmdHelpInfo_header">Textbook Reference</h4>
                    <p class="displayInfo">Chapter 14 - The Command Prompt (page 264)</p>
                    <h4 class="cmdHelpInfo_header">Answer</h4>
                    <p class="displayInfo">/?</p>
                </div>
                <div class="infoResult" id="cmdHelpInfo_result"></div>
            </div>
        </section>

        <!-- Switches -->
        <section id="section_switches">
            <h2>ipconfig Switches</h2>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/20_switches.png" alt="ipconfig Switches">
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/21_switches2.png" alt="ipconfig Switches">
            </div>
            <div class="infoDiv">
                <div class="headerContainer">
                    <h4 class="switchesInfo_header">Textbook Reference</h4>
                    <p class="displayInfo">Chapter 14 - The Command Prompt (page 264-265)</p>
                    <h4 class="switchesInfo_header">Answers</h4>
                    <p class="displayInfo">
                        ipconfig/all <br>
                        ipconfig/release <br>
                        ipconfig/renew6
                    </p>
                    <h4 class="switchesInfo_header">Student Actions</h4>
                    <p class="displayInfo">Reference the ipconfig /? result to find the commands that match the descriptions.</p>
                </div>
                <div class="infoResult" id="switchesInfo_result"></div>
            </div>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/22_switches3.png" alt="ipconfig Switches">
            </div>
        </section>

        <!-- LAST TEST PAGE -->
        <section>
            <h2>Last Test Page</h2>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/23_lastTestPage.png" alt="Last Test Page">
            </div>
        </section>

        <section>
            <h2>Result</h2>
            <div class="imgDiv">
                <img class="page" src="../images/cmdPrompt/24_result.png" alt="Result">
            </div>
        </section>
    </main>
    
    
    <footer>
        <div class="homeIconDiv">
            <img id="homeIcon" src="../images/homeWht.png" alt="Home">
        </div>
    </footer>

    <script type="module" src="../js/cmdPrompt.js"></script>
</body>
</html>