<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networking - Home</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <div class="titleContainer">
            <div>
                <h1>Networking Exercises</h1>
                <h3>3rd Year - 1st Semester</h3>
            </div>
        </div>
        
    </header>

    <main>
        <div class="homeFlexContainer">
            <section class="section_exercises" id="section_binary">
                <div class="exerciseContainer">
                    <div>
                        <h1>Binary</h1>
                        <h3>Exercise #1</h3>
                    </div>
                </div>
            </section>
    
            <section class="section_exercises" id="section_cmdPrompt">
                <div class="exerciseContainer">
                    <div>
                        <h1>Command Prompt</h1>
                        <h3>Exercise #2</h3>
                    </div>
                </div>
            </section>
    
            <section class="section_exercises" id="section_configCheck">
                <div class="exerciseContainer">
                    <div>
                        <h1>Configuration Check</h1>
                        <h3>Exercise #3</h3>
                    </div>
                </div>
            </section>
    
            <section class="section_exercises" id="section_ping">
                <div class="exerciseContainer">
                    <div>
                        <h1>Ping</h1>
                        <h3>Exercise #4</h3>
                    </div>
                </div>
            </section>
        </div>
        
    </main>
    
    
    <footer>
        <p>NorCal Sound & Communication JATC</p> 
    </footer>

    <script type="module" src="../js/home.js"></script>
</body>
</html>