body{
    margin: 0;
}

header{
    background-color: rgb(38, 73, 111);
    padding-left: 5%;
    /* font-size: 1.1em; */
    max-width: 100%;
}

h1{
    color: white;
    margin-bottom: 0;
    padding-top: 1%;
}

h3{
    color: rgb(0, 158, 15);
    margin-top: 0;
    padding-bottom: 1%;
}

h2{
    margin-left: 5%;
}
section{
    border-bottom: 3px solid darkgray;
    padding-bottom: 2%;
}

.headerContainer{
    width: 500px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.imgDiv{
    width: 99%;
    margin: auto;
}

.page{
    max-width: 96%;
}

h4, .infoResult{
    margin: 10px;
}
h4:hover{
    color:rgb(26, 139, 241)
}

footer{
    background-color: rgb(38, 73, 111);
    opacity: 90%;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
}

#hamIconDiv{
    margin-right: 5%;
    text-align: right;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the bottom */
    /* left: 0; */
    right: 0;
    background-color: rgb(38, 73, 111); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 25px; */
    color: rgb(0, 158, 15);
    display: block;
    transition: 0.3s;
  }

  .sidenav .whtNav{
      color: white;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }