/***** iPhone 6/7/8 Plus *****/
body{
    margin: 0;
}

main{
    margin-top: 100px;
}

header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(38, 73, 111);
    opacity: 90%;
    padding-left: 5%;   
    height: 80px; 
    border-bottom: 3px solid darkgray;
}

.titleContainer{
    display: flex;
    justify-content: space-between;
}

#hamIconDiv{
    margin-right: 40px;
    margin-top: 16px;
}

h1{
    color: white;
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 1%;
}

h3{
    color: rgb(0, 158, 15);
    margin-top: 0;
    padding-bottom: 1%;
}

h2{
    text-align: center;
    /* margin-left: 5%; */
}

section{
    border-bottom: 3px solid darkgray;
    padding-bottom: 2%;
}

.headerContainer{
    width: 500px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.displayInfo{
    display: none;
}

.imgDiv{
    text-align: center;
    /* width: 99%;
    margin: auto; */
}

.infoDiv{
    width: 500px;
    max-width: 100%;
    margin: auto;
}

.page{
    max-width: 96%;
} 

h4, .infoResult{
    margin: 10px;
    font-size: 4vw;
}
h4:hover{
    color:rgb(26, 139, 241)
}

footer{
    background-color: rgb(38, 73, 111);
    opacity: 90%;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 48px;
    border-top: 3px solid darkgray;
}

/* The side navigation menu */
h5{
    color: white;
    text-align: center;
    font-size: 5vw;
}
.sidenav {
    height: 88%; 
    max-height: 88%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgb(38, 73, 111); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    padding-bottom: 30px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-size: 5vw;
    box-shadow: -2px -2px 8px 2px darkgray;
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 25px; */
    color: rgb(0, 158, 15);
    display: block;
    transition: 0.3s;
  }

  .sidenav .whtNav{
      color: white;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 5vw;
    /* margin-left: 50px; */
  }



  /***** iPad Vertical - 768px wide *****/
  @media screen and (min-width: 768px){
    h4, .infoResult{
        font-size: 2.25vw;
    }

    .sidenav{
        font-size: 3vw;
        height: 89%;
        max-height: 89%;
    }

    .closebtn{
        right: 75px;
    }

    /* .nav. .closebtn{
        margin-right: 15%;
    } */

    #hamIconDiv{
        margin-right: 15%;
        margin-top: 16px;
    }

  } 

  @media screen and (min-width: 1024px){
    .sidenav{
        font-size: 3vw;
        height: 92%;
        max-height: 92%;
    }

    main{
        margin-left: 20px;
    }

    .imgDiv, h2 {
        text-align: left;
    }

    .headerContainer{
        display: block;
    }

    .displayInfo{
        display: block;
        margin-left: 10px;
        margin-right: 100px;
        margin-bottom: 40px;
        margin-top: 0;
        font-size: 2vw;
    }

    .infoDiv{
        float: right;
        position: relative;
        left: 50px;
        bottom: 310px;
    }

  } 

  @media screen and (min-width: 1366px){
    .sidenav{
        font-size: 1.5vw;
        width: 25%;
    } 

    h5{
        font-size: 3vw;
    }

    .displayInfo{
        font-size: 1.5vw;
    }

    .headerContainer h4{
        font-size: 1.5vw;
    }

    .infoDiv{
        margin-right: 25%;
        right: 800px;
    }
  
    #hamIcon, #x_symbol{
        display: none;
    }

    h5{
        font-size: 3vw;
        margin-bottom: 10px;
        margin-top: 125px;
    } 
  
}

  
